.text-title-lg {
  font: var(--title-lg);
  color: var(--base-color-gray-100);
}

.text-title-md {
  font: var(--title-md);
}

.text-title-sm {
  font: var(--title-sm);
}

.text-subtitle {
  font: var(--subtitle);
}

.text-md {
  font: var(--text-md);
}

.text-sm {
  font: var(--text-sm);
  color: var(--base-color-gray-300);
}

.color-red {
  color: var(--principal-color-red);
}

.color-gray-100 {
  color: var(--base-color-gray-100);
}

.color-gray-200 {
  color: var(--base-color-gray-200);
}